# Ignore everything
*

# But allow .gitignore
!.gitignore

# Allow Curriculum PDF directory and its contents
!Curriculum PDF/
!Curriculum PDF/**

# Allow curriculum directory and its contents
!curriculum/
!curriculum/**
!Sinhala Notes/
!Sinhala Notes/**
